<h1 class="my-2 text-info">Operadores</h1>
<h2 class="mt-2 text-secondary">Map</h2>
<h4>Valores</h4>
@for (num of mapNumbers; track $index){
  {{num}} -
}

<h2 class="mt-2 text-secondary">Filter</h2>
<h4>Valores</h4>
@for (num of filterNumbers; track $index){
  {{num}} -
}


<h2 class="mt-2 text-secondary">Reduce</h2>
<h4>Valores</h4>
@for (num of reduceNumbers; track $index){
  {{num}} -
}


<h2 class="mt-2 text-secondary">Merge</h2>
<h4>Valores</h4>
@for (num of mergedNumbers; track $index){
  {{num}} -
}

<h2 class="mt-2 text-secondary">Concat</h2>
<h4>Valores</h4>
@for (num of concatNumbers; track $index){
  {{num}} -
}
